body {
  width: fit-content;
  margin: 50px auto;
}

.container {
  position: relative;
}

tr:hover {
  background: #fcc;
}

td, td:hover:after {
  width: 50px;
}

td:hover {
  background: #ffc;
}

td:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #cfc;
  z-index: -1;
}
